html,
body,
#root{

margin:0;

width:100%;

height:100%;

}

body{

background:white;

}

.app{

display:flex;

width:100vw;

height:100vh;

}

.sidebar{

width:220px;

background:black;

color:white;

display:flex;

flex-direction:column;

align-items:center;

padding-top:60px;

}

.logo{

font-size:48px;

font-weight:900;

color:white;

margin-bottom:60px;

}

.sidebar button{

background:none;

border:none;

color:white;

font-size:22px;

margin:20px;

cursor:pointer;

}

.content{

flex:1;

background:white;

padding:50px;

overflow:auto;

}

.auth{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.authBox{

width:400px;

}

.brand{

font-size:70px;

font-weight:900;

color:black;

text-align:center;

margin-bottom:40px;

}

input{

width:100%;

padding:20px;

margin-bottom:20px;

}

button{

padding:16px;

cursor:pointer;

}

.featured{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
320px,
1fr
)

);

gap:20px;

}

.player{

padding:30px;

border:

1px solid black;

}